.text-stroke {
    -webkit-text-stroke: 2px #eea551; /* ضخامت و رنگ خط بیرونی */
}
.text-white-stroke {
    -webkit-text-stroke: 0.5px #fff; /* ضخامت و رنگ خط بیرونی */
}
.text-stroke-black {
    -webkit-text-stroke: 1.5px #000; /* ضخامت و رنگ خط بیرونی */
}
.clip-polygon {
    clip-path: polygon(8% 0, 100% 0%, 88% 100%, 0% 100%); 
}
.button-rotate{
    -webkit-transform: rotate(110deg);
}
.box-shadows{
    -webkit-box-shadow: 0 0 12px 2px rgba(44, 54, 105, 0.23);
}
#secendMenu{
    @media (max-width: 500px) {
        left: 0;
    }
}
#navMenu {
transition: height 0.5s ease, padding 0.5s ease;
overflow: hidden;
height: 0;
padding: 0;
}

#secondAboutMeBtns{
    @media (max-width:570px) {
        left: 0;
    }
}
#secondAboutMeBtns{
    @media (max-width:570px) {
        left: 0;
    }
}

.h-open {
height: auto;
padding: 20px 0;
}

.swiper-slide {
    width: 200px; /* کاهش عرض باکس‌ها */
    height: auto;
}
.swiper-container{
    width: 400px;
}

/*  */

.active {
    background-color: #fbaa33; /* bg-[#fbaa33] */
    color: white; /* text-white */
    display: flex; /* flex */
    gap: 0.5rem; /* gap-x-2 */
    padding-top: 1rem; /* py-4 */
    padding-bottom: 1rem; /* py-4 */
    padding-right: 4rem; /* pr-16 */
    padding-left: 1rem; /* pl-4 */
    z-index: 10; /* z-10 */
}
.no-content{
    display: none;
}
